.host {
  display: flex;
  align-items: center;
  padding: 8px;
  background-color: var(--bg-alpha);
}

.hostFlexDirectionRow {
  flex-direction: row;
}

.hostFlexDirectionColumn {
  flex-direction: column;
}
